body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
}

.Header {
  background-color: darkorange;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;

}

.Header .link {
  text-decoration: none;
  color: whitesmoke;

}
/*
button{
  border: 2px darkorange solid;
  padding: 15px;
  border-radius: 0;
  background-color: darkorange;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: whitesmoke;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
*/

.productImage {
  width: 100vw;
}

.centered {
  text-align: center;
}

.sandwichCard {
  width: 400px;
  margin: 30px;
  display: inline-block;
}

.login-box {
  -webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:  2px 2px 4px rgba(50, 50, 50, 0.3);
  box-shadow:  2px 2px 4px rgba(50, 50, 50, 0.3);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
}

.login-container {
  background: url('../public/sandwich-bg1-small.jpg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 64px);
  width: 100vw;
}

.login-form {
  text-align: center;
  background-color: white;
}

.login-header {
  text-align: center;
  background: orange;
  padding: 15px 0;
  width: 100%;
  height: auto;
  color: white;
}

.login-footer {
  text-align: center;
  padding: 5px 20px 15px 20px;
}

.login-button {
  width: 100%;
}


.home-welcome-banner {
  background: url('../public/sandwich-bg1-small.jpg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 64px);
  width: 100vw;
  z-index: -100;
  position: absolute;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.home-welcome-banner h1{
  margin: auto;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

@media screen and (max-width: 700px){

  .sandwichCard {
    width: 100%;
    margin: 30px 0;
  }
}

.order-status {

}

.order-status .status-item {
  text-align: center;
  display: flex;
  width: 100vw;
  height: calc((100vh - 64px) / 3);
  vertical-align: middle;
}

.order-status .status-item h2 {
  margin: auto;
}

.order-status .status-item.waiting {
  background-color: #ffc580;
  opacity: 0.4;

}

.order-status .status-item.assembling {
  background-color: #ffaa4e;
  opacity: 0.4;
}

.order-status .status-item.toasting {
  background-color: #ff6939;
  opacity: 0.4;
}

.order-status .status-item.active {
  opacity: 1;
}

.status-item-title {
  margin: auto;
}

.status-icon {
  width: 50px;
  height: 50px;
  margin: auto;
}

.order-status .status-item.complete {
  height: calc((100vh - 64px));
  background-color: #ff6939;
}

.order-status .status-item.complete h2 {
  padding-bottom: 50px;
}

.order-status .status-item.complete a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-container {
  position: absolute;
}

.error-message {
  border: 1px rgba(255, 0, 0, 0.40) solid;
  border-radius: 4px;
  padding: 5px;
  margin-top: 15px;
  background-color: rgba(255, 0, 0, 0.10);
}