body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
}

.Header {
  background-color: darkorange;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;

}

.Header .link {
  text-decoration: none;
  color: whitesmoke;

}
/*
button{
  border: 2px darkorange solid;
  padding: 15px;
  border-radius: 0;
  background-color: darkorange;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: whitesmoke;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
*/

.productImage {
  width: 100vw;
}

.centered {
  text-align: center;
}

.sandwichCard {
  width: 400px;
  margin: 50px;
  display: inline-block;
}

@media screen and (max-width: 700px){

  .sandwichCard {
    width: 100%;
    margin: 50px 0px;
  }

}
